.container {
  padding: 0 2rem;
  margin: 0;
  background-color: whitesmoke;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top-style: solid;
  border-bottom-style: solid;
  background-color: #ffafcc;
  color: black;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top-style: solid;
  border-bottom-style: solid;
  color: black;
  background-color: #cdb4db;
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

.main {
  min-height: calc(100vh - 150px);
  min-width: calc(100vw - 50px);
  padding: 0 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    transparent 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
}

.title {
  color: #f300d7;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: yellowgreen;
}

.cardContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: transparent;
  padding: 10px;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  border: transparent;
  border-radius: 8px;
  border-color: darkgray;
  padding: 20px;
  width: 400px;
  background-color: gray;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(10, 51, 184, 0.1);
}

.cardImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid;
  background-color: thistle;
  margin-bottom: 16px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  background-color: #f6f6f6;
}

.ctitle {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  line-height: 1.2;
  color: navy;
  text-align: center;
}

.cdescription {
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  color: darkgreen;
  text-align: justify;
}

.cimage {
  border-radius: 10px;
}

/* Media queries for different screen sizes */
/* @media only screen and (min-width: 768px) {
  .card {
    max-width: 600px;
    height: 800px;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    max-width: 800px;
    height: 1000px;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    max-width: 1000px;
    height: 1200px;
  } */
